/node_modules/
/kubernetes/
ormconfig.json
README.md

### WebStorm ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Local configurations ###
*-local.*

### Local logs ###
logs
*.log
*.logs
package-lock.json
yarn.lock

### Dot ENV Files ###
*.development
*.production
*.test
